@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

:root{
    --main-color-font: #fff;
    --big-font-family: 'Montserrat', sans-serif;
    --content-font-family: 'Poppins', sans-serif;
    --font-big-size: 1.5rem;
    --font-content-size: 1rem;
    --first-color: #2B2129;
    --second-color: #C4A1BD;
    --third-color: #83727F;
    --forth-color: #322013;
    --fifth-color: #614C3E;
}

html{
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--first-color);
    color: #fff;
    overflow: hidden;
}

nav h1{
    font-family: var(--content-font-family);
    padding: 20px;
}

.second-part #back{
    position: absolute;
    position: fixed;
    top: 0;
    right: -10px;
    width: 602px;
    height: 750px;
}

.dot .no-active{
    border: solid 3px #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    right: 530px;
    top: 120px;
}

.dot .active{
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    right: 530px;
    top: 170px;
}

.dot .no-active02{
    border: solid 3px #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    right: 530px;
    top: 220px;
}

.information h2{
    color: #895E81;
    font-family: var(--content-font-family);
    font-size: 35px;
    font-weight: bold;
    position: relative;
    left: 70%;
}

.information img{
    position: relative;
    width: 71px;
    left: 73%;
}

.information img:nth-of-type(2){
    margin-left: 180px;
}

.information p{
    padding-top: 30px;
    padding-bottom: 15px;
    position: relative;
    left: 70%;
    font-family: var(--content-font-family);
    font-size: var(--font-content-size);
}

.information #credit{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px #fff solid;
    font-size: var(--font-content-size);
    color: #fff;
    position: relative;
    left: 70%;
    width: 400px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.give-me-color{
    background-color: #fff;
    width: 200px;
    border-radius: 20px;
    padding: 10px;
    position: relative;
    left: 70%;
}

#card-sec {
    outline: none;
    border: none;
    flex: 1;
    background-color: transparent;
    font: var(--content-font-family);
    font-family: var(--content-font-family);
}

.myThingy{
    display: flex;
    gap: 20px;
}

.PP{
    display: flex;
    gap: 140px;
}

.final-bibi button{
    width: 494px;
    height: 150px;
    background-color: #241120;
    border: none;
    outline: none;
    position: absolute;
    left: 67.8%;
    bottom: 0;
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
