@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

:root{
    --main-color-font: #fff;
    --big-font-family: 'Montserrat', sans-serif;
    --content-font-family: 'Poppins', sans-serif;
    --font-big-size: 1.5rem;
    --font-content-size: 1rem;
    --first-color: #2B2129;
    --second-color: #C4A1BD;
    --third-color: #83727F;
    --forth-color: #322013;
    --fifth-color: #614C3E;
}

html{
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--first-color);
    color: #fff;
    overflow-x: hidden;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
 
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: var(--big-font-family);
    font-weight: 700;
}

.nav{
    display: flex;
    align-items: center;
}


li, a{
    list-style: none;
    color: #fff;
    margin-left: 40px;
    font-weight: 700;
    text-decoration: none;
}

.main-but{
    font-family: var(--big-font-family);
    background-color: var(--third-color);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border: none;
    height: 30px;
    border-radius: 20px;
    width: 155px;
}

.search-in{
    font-family: var(--content-font-family);
    font-weight: bold;
    flex: 1;
    height: 40px;
    border: none;
    font-size: 18px;
    outline: none;
    padding-left: 10px;
}


.search{
    display: flex;
    align-items: center;
    width: 400px;
    height: 50px;
    background-color: #fff;
    border-radius: 30px;
    padding: 20px;
    position: relative;
    left: 35%;
}

.fa-search{
    font-size: 20px;
    color: #777;
    display: flex;
    margin-left: 10px;
    cursor: pointer;
}

.first-main{
    width: 1100px;
    position: relative;
    top: 50px;
    left: 15%;
}

#style{
    position: absolute;
    top: 75%;
    left: 32%;
    font-size: 50px;
    font-family: var(--big-font-family);
}

#grid{
    margin-top: 200px;
    margin-left: 20%;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-areas: 
    "box01 box02 box02 box02"
    "box01 box04 box04 box05"
    "box03 box04 box04 box05"
    "box03 box04 box04 box05"
    "box03 box04 box04 box05"
    "box03 box06 box06 box05"
    "box03 box06 box06 box05"
    "box03 box06 box06 box05"
    ;
    width: 921px;
    height: 770px;
}

.top-left img{
    width: 339px;
}

.top-right img{
    width: 562px;
    margin-left: 20px;
}

.bot-left img{
    width: 339px;
    margin-top: 30px;
}

.mid img{
    width: 344px;
    margin-left: 20px;
    margin-top: 18px;
}

.mid-right img{
    width:198px ;
    margin-top: 18px;
}

.mid-bot img{
    width: 344px;
    margin-left: 20px;
    margin-top: 29px;
}

.top-left{
    grid-area: box01;
}

.top-right{
    grid-area: box02;
}

.bot-left{
    grid-area: box03;
}

.mid{
    grid-area: box04;
}

.mid-right{
    grid-area: box05;
}

.mid-bot{
    grid-area: box06;
}

.choose-group{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.fill{
    color: #000;
    background-color: #fff;
    font-family: var(--content-font-family);
    font-weight: bold;
    font-size: 18px;
    border: none;
    outline: 0;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
}

.no-fill{
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family: var(--content-font-family);
    cursor: pointer;
}


.img-clo img{
    width: 280px;
    border-radius: 20px;
}

.img-clo{
    display: grid;
    padding: 20px 0px 0px 65px;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr ;
    grid-template-areas: 
    "girl01 girl02 girl03 girl04"
    "girl05 girl06 girl07 girl08"
    "girl09 girl10 girl11 girl12"
    "girl13 girl14 girl15 girl16"
    "girl17 girl18 girl19 girl20"
    ;
}

.img-clo-grid p{
    font-family: var(--content-font-family);
    padding-bottom: 20px;
    padding-top: 5px;
}

.img-clo-grid:nth-of-type(1){
    grid-area: girl01;
}

.img-clo-grid:nth-of-type(2){
    grid-area: girl02;
}

.img-clo-grid:nth-of-type(3){
    grid-area: girl03;
}

.img-clo-grid:nth-of-type(4){
    grid-area: girl04;
}

.img-clo-grid:nth-of-type(5){
    grid-area: girl05;
}

.img-clo-grid:nth-of-type(6){
    grid-area: girl06;
}

.img-clo-grid:nth-of-type(7){
    grid-area: girl07;
}

.img-clo-grid:nth-of-type(8){
    grid-area: girl08;
}

.img-clo-grid:nth-of-type(9){
    grid-area: girl09;
}

.img-clo-grid:nth-of-type(10){
    grid-area: girl10;
}

.img-clo-grid:nth-of-type(11){
    grid-area: girl11;
}

.img-clo-grid:nth-of-type(12){
    grid-area: girl12;
}

.img-clo-grid:nth-of-type(13){
    grid-area: girl13;
}

.img-clo-grid:nth-of-type(14){
    grid-area: girl14;
}

.img-clo-grid:nth-of-type(15){
    grid-area: girl15;
}

.img-clo-grid:nth-of-type(16){
    grid-area: girl16;
}

.img-clo-grid:nth-of-type(17){
    grid-area: girl17;
}

.img-clo-grid:nth-of-type(18){
    grid-area: girl18;
}

.img-clo-grid:nth-of-type(19){
    grid-area: girl19;
}

.img-clo-grid:nth-of-type(20){
    grid-area: girl20;
}

.per-nex{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.per-nex button{
    border: none;
}

#per-nex{
    background-color: var(--third-color);
    padding: 8px 15px;
    color: var(--main-color-font);
    font-family: var(--big-font-family);
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 50px;
}

.round{
    background-color: var(--fifth-color) !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.num-per-nex{
    background-color: transparent;
    color: var(--main-color-font);
    font-family: var(--big-font-family);
    font-size: 1rem;
    font-weight: 300;
    margin: 0px 15px 0px 15px;
}

#all-icon{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    align-items: center;
    text-align: center;
}

footer{
    margin-top: auto;
    background-color: #291124;
}

.footer-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-cont i{
    margin-bottom: 7px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--third-color);
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 50%;
}

.footer-cont p{
    font-family: var(--content-font-family);
}

footer hr {
    border: none;
    background-color: var(--third-color);
    color: var(--third-color);
    height: 1px;
    width: 80%;
    margin: 20px 10% 50px 10%;
    opacity: 50%;
}

.more-info{
    display: flex;
    justify-content: space-around;
}

.last-in h4{
    margin-bottom: 10px;
    font-family: var(--content-font-family);
}

.last-in p{
    font-family: var(--content-font-family);
    margin-top: -5px;
    font-size: 13px;
    color: var(--third-color);
}

.p-search{
    margin-top: 10px !important;
}

.last-search{
    width: 300px;
    height: 35px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.last-search > i{
    font-size: 20px;
    color: #777;
    cursor: pointer;
}

.last-search > input{
    flex: 1;
    height: 40px;
    border: none;
    outline: none;
    font-size: 18px;
    padding-left: 10px;
}

.social-con{
    display: flex;
    justify-content: space-between;
    margin: 0px 30%;
    font-size: 25px;
    color: var(--third-color);
    margin-top: 20px;
}

.social-con i{
    border: 2px solid var(--third-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.final-for-c{
    background-color: #1d0015;
}

.final-for-c p{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-weight: 300;
    font-family: var(--content-font-family);
    color: var(--third-color);
}